[submodule "models"]
	path = models
	url = https://github.com/tensorflow/models.git
	ignore = dirty

[submodule "foodborne-nyc.wiki"]
	path = foodborne-nyc.wiki
	url = https://github.com/yogeshg/foodborne-nyc.wiki.git
